<div class="animated fadeIn"
     ng-init="vm.methods.onInitRecruit();">

    <!-- If have rights -->
    <div ng-show="vm.userCanRecruit"
         class="row">
        <div class="col-xs-12">

            <!-- Title -->
            <h2>{{ 'channels_recruit_title' | translate:{channelName: vm.params.channelName} }}</h2>
            <p class="help-text">{{ 'channels_recruit_subtitle_1' | translate }}</p>
            <p class="help-text">{{ 'channels_recruit_subtitle_2' | translate }}</p>
            <p class="help-text">{{ 'channels_recruit_subtitle_3' | translate }}</p>

            <!-- Invite users -->
            <div class="row">
                <div class="col-xs-12 col-sm-8 space-medium-before">
                    <cozen-form cozen-form-name="recruitUsers"
                                cozen-form-ctrl="vm"
                                cozen-form-class="space-base-after"
                                cozen-form-model="form">

                        <!-- Select Cogeo members -->
                        <cozen-dropdown cozen-dropdown-model="vm.availableUsersSelected"
                                        cozen-dropdown-label="channels_recruit_dropdown_label"
                                        cozen-dropdown-multiple="true"
                                        cozen-dropdown-model-enhanced="count"
                                        cozen-dropdown-class="space-small-after"
                                        cozen-dropdown-success-design="false"
                                        cozen-dropdown-error-design="false"
                                        cozen-dropdown-all-selected-text="channels_recruit_dropdown_allSelectedText"
                                        cozen-dropdown-count-text="channels_recruit_dropdown_countText"
                                        cozen-dropdown-placeholder="channels_recruit_dropdown_pc">
                            <cozen-dropdown-item-search cozen-dropdown-item-search-placeholder="{{ 'channels_recruit_dropdown_search_pc' | translate:{groupName: vm.params.groupName} }}"
                                                        cozen-dropdown-item-search-empty-text="groups_recruit_cogeoUsers_dropdown_search_empty">
                            </cozen-dropdown-item-search>
                            <cozen-dropdown-item-simple ng-repeat="user in vm.availableUsers track by $index"
                                                        cozen-dropdown-item-simple-value="user.username"
                                                        cozen-dropdown-item-simple-sub-label="@{{ user.username }}"
                                                        cozen-dropdown-item-simple-selected="user.isSelected"
                                                        cozen-dropdown-item-simple-label="{{ user.givenName + ' ' + user.surname }}">
                            </cozen-dropdown-item-simple>
                        </cozen-dropdown>
                        <p class="help-text">{{ 'channels_recruit_dropdown_help' | translate }}</p>

                        <!-- List of selected Cogeo members -->
                        <label ng-if-start="vm.availableUsersSelected.length > 0"
                               cozen-compile="vm.availableUsersSelected.length == 1 ? ('channels_recruit_selected_user' | translate) : ('channels_recruit_selected_users' | translate)"
                               class="space-small-after space-medium-before atom-label">
                        </label>
                        <div class="atom-inline-list space-base-after">
                            <div ng-if="user.isSelected"
                                 ng-repeat="user in vm.availableUsers track by $index"
                                 class="atom-list-item-container">
                                <div class="atom-inline-item"
                                     ng-class="[$last ? 'border-bottom' : '']">
                                    <span>
                                        {{ user.givenName + ' ' + user.surname }}
                                        <small>
                                            <a href
                                               ng-click="goTo.view('app.profiles.user', {username: user.username}, $event)"
                                               ui-sref="app.profiles.user({username: user.username})">
                                                @{{ user.username }}
                                            </a>
                                        </small>
                                    </span>
                                </div>
                                <div class="atom-remove-btn"
                                     ng-click="user.isSelected = false">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Submit btn -->
                        <div ng-if-end
                             class="center-flex-content">
                            <cozen-btn cozen-btn-icon-right="fa fa-fw icons8-message-filled"
                                       cozen-btn-label="vm.availableUsersSelected.length == 1 ? ('groups_recruit_cogeoUsers_submit_user' | translate:{username: vm.availableUsersSelected[0]}) : 'groups_recruit_cogeoUsers_submit_users'"
                                       cozen-btn-auto-sizing="true"
                                       cozen-btn-id="submit-recruit-channel-btn"
                                       cozen-btn-on-click="vm.methods.recruit()">
                            </cozen-btn>
                        </div>
                    </cozen-form>
                </div>
            </div>
        </div>
    </div>

    <!-- No rights alert -->
    <div ng-show="!vm.userCanRecruit"
         class="row">
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="'groups_invitations_empty'"
                         cozen-alert-close-btn="false"
                         cozen-alert-class="space-base-before space-base-after"
                         cozen-alert-type-error>
            </cozen-alert>
        </div>
    </div>
</div>
