<nav class="atom-navbar animated fadeInDown"
     ng-controller="NavbarCtrl as vm">

  <!-- Left -->
  <div class="atom-navbar-block left">
    <img alt="Cogeo"
         class="brand"
         ng-click="goTo.view('app.home')"
         ng-src="images/brand/CogeoSampleSmallTransparent.png">
    <div class="link link-blue"
         onclick="this.blur()"
         ng-mouseenter="vm.group.hover = true"
         ng-mouseleave="vm.group.hover = false"
         ng-keydown="$event.keyCode == 13 ? vm.group.hover = !vm.group.hover : null"
         ng-click="vm.group.hover = true"
         tabindex="0">
      {{ 'navbar_groups' | translate }}
      <div class="link-dropdown dropdown-right"
           ng-class="{'down': vm.group.hover}">
        <div ng-repeat="group in vm.groups track by $index"
             class="link-dropdown-item"
             ng-class="{'active': false}"
             ng-click="goTo.view('app.groups.details', {
                groupName: group.name
             })"
             tabindex="0">
          <div class="img">
            <img ng-src="{{ vm.methods.getGroupPicture(group.name, group.picture.result.url) }}">
          </div>
          <span>{{ group.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Right -->
  <div class="atom-navbar-block right">
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('communication')"
         tabindex="0">
      {{ 'navbar_product' | translate }}
    </div>
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('register')"
         tabindex="0">
      {{ 'navbar_price' | translate }}
    </div>
    <div class="link link-green"
         ng-class="{'active': goTo.isCurrentView('app.login')}"
         onclick="this.blur()"
         ng-click="goTo.view('app.login')"
         tabindex="0">
      {{ 'navbar_login' | translate }}
    </div>
    <div class="link link-purple"
         ng-class="{'active': goTo.isCurrentView('app.register')}"
         onclick="this.blur()"
         ng-click="goTo.view('app.register')"
         tabindex="0">
      {{ 'navbar_register' | translate }}
    </div>
    <div class="link link-yellow"
         onclick="this.blur()"
         ng-click="methods.showPopup($event, 'logout')"
         tabindex="0">
      {{ 'navbar_logout' | translate }}
    </div>
    <div class="link link-blue"
         onclick="this.blur()"
         ng-mouseenter="vm.other.hover = true"
         ng-mouseleave="vm.other.hover = false"
         ng-keydown="$event.keyCode == 13 ? vm.other.hover = !vm.other.hover : null"
         ng-click="vm.other.hover = true"
         ng-class="{'active': goTo.hasThisParent('app.account')}"
         tabindex="0">
      {{ 'navbar_other' | translate }}
      <div class="link-dropdown"
           ng-class="{'down': vm.other.hover}">
        <div class="link-dropdown-item"
             ng-class="{'active': goTo.isOneOfThoseViews('app.account.profile', 'app.account.profileEdit', 'app.account.profileEditPassword')}"
             ng-click="goTo.view('app.account.profile')"
             tabindex="0">
          {{ 'navbar_other_profile' | translate }}
        </div>
        <div class="link-dropdown-item"
             ng-class="{'active': goTo.isOneOfThoseViews('app.account.notifications', 'app.account.notificationsEdit')}"
             ng-click="goTo.view('app.account.notifications')"
             tabindex="0">
          {{ 'navbar_other_notifications' | translate }}
        </div>
        <div class="link-dropdown-item"
             ng-class="{'active': goTo.isOneOfThoseViews('app.account.settings', 'app.account.settingsEdit')}"
             ng-click="goTo.view('app.account.settings')"
             tabindex="0">
          {{ 'navbar_other_settings' | translate }}
        </div>
        <div class="link-dropdown-item"
             ng-class="{'active': goTo.isOneOfThoseViews('app.account.log')}"
             ng-click="goTo.view('app.account.log')"
             tabindex="0">
          {{ 'navbar_other_log' | translate }}
        </div>
      </div>
    </div>
  </div>
</nav>
