<nav class="atom-navbar animated fadeInDown"
     ng-controller="NavbarCtrl as vm">
  <div class="atom-navbar-block left">
    <img alt="Cogeo"
         class="brand"
         ng-click="goTo.view('app.home')"
         ng-src="images/brand/CogeoSampleSmallTransparent.png">
  </div>
  <div class="atom-navbar-block right">
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('communication')"
         tabindex="0">
      {{ 'navbar_product' | translate }}
    </div>
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('register')"
         tabindex="0">
      {{ 'navbar_price' | translate }}
    </div>
    <div class="link link-green"
         ng-class="{'active': goTo.isCurrentView('app.login')}"
         onclick="this.blur()"
         ng-click="goTo.view('app.login')"
         tabindex="0">
      {{ 'navbar_login' | translate }}
    </div>
    <div class="link link-purple"
         ng-class="{'active': goTo.isCurrentView('app.register')}"
         onclick="this.blur()"
         ng-click="goTo.view('app.register')"
         tabindex="0">
      {{ 'navbar_register' | translate }}
    </div>
    <div class="link link-yellow"
         onclick="this.blur()"
         ng-click="methods.showPopup($event, 'logout')"
         tabindex="0">
      {{ 'navbar_logout' | translate }}
    </div>
    <div class="link link-blue"
         onclick="this.blur()"
         ng-mouseenter="vm.other.hover = true"
         ng-mouseleave="vm.other.hover = false"
         ng-keydown="$event.keyCode == 13 ? vm.other.hover = !vm.other.hover : null"
         ng-click="vm.other.hover = true"
         tabindex="0">
      {{ 'navbar_other' | translate }}
      <div class="link-dropdown"
           ng-class="{'down': vm.other.hover}">
        <div class="link-dropdown-item"
             ng-click="goTo.view('app.account')"
             tabindex="0">
          {{ 'navbar_other_account' | translate }}
        </div>
        <div class="link-dropdown-item"
             tabindex="0">
          {{ 'navbar_other_settings' | translate }}
        </div>
      </div>
    </div>
  </div>
</nav>
