<nav class="atom-navbar fadeInDown"
     ng-controller="NavbarCtrl as vm">
  <div class="left">
    <img alt="Cogeo"
         class="brand"
         ng-click="goTo.view('app.home')"
         ng-src="images/brand/CogeoSampleSmallTransparent.png">
  </div>
  <div class="right">
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('communication')"
         tabindex="0">
      {{ 'navbar_product' | translate }}
    </div>
    <div ng-if="goTo.isCurrentView('app.home')"
         class="link link-blue"
         onclick="this.blur()"
         ng-click="vm.methods.scrollToElement('register')"
         tabindex="0">
      {{ 'navbar_price' | translate }}
    </div>
    <div class="link link-green"
         onclick="this.blur()"
         ng-click="goTo.view('')"
         tabindex="0">
      {{ 'navbar_login' | translate }}
    </div>
    <div class="link link-purple"
         onclick="this.blur()"
         ng-click="goTo.view('')"
         tabindex="0">
      {{ 'navbar_register' | translate }}
    </div>
    <div class="link link-yellow"
         onclick="this.blur()"
         ng-click="methods.showPopup($event, 'logout')"
         tabindex="0">
      {{ 'navbar_logout' | translate }}
    </div>
  </div>
</nav>
