div.atom-chat div.chat-col {
    div.chat-messages-container {
        width      : 100%;
        padding    : @atom-space-small 0;
        overflow-x : hidden;
        overflow-y : auto;
        div.chat-messages {
            div.message {
                position : relative;
                margin   : 1px 0;

                // Imports
                @import (less) "user.less";
                @import (less) "bot.less";
                @import (less) "actionBar.less";

                // Messages
                div.message-body {

                    // Text
                    span.text {
                        color       : @atom-color-font;
                        font-weight : 400;
                        font-size   : @atom-font-body;
                    }

                    // Image
                    div.image {
                        display        : flex;
                        flex-direction : column;
                        align-items    : flex-start;
                        position       : relative;
                        margin         : 0 0 @atom-space-small 0;
                        div.vertical-separator {
                            position         : absolute;
                            top              : 0;
                            left             : 0;
                            width            : 3px;
                            height           : 100%;
                            border-radius    : 3px;
                            background-color : @atom-color-blue;
                        }
                        div.row {
                            display         : flex;
                            flex-direction  : row;
                            justify-content : flex-start;
                            align-items     : center;
                            margin          : 0 0 0 10px;
                            padding         : 0;
                            span.name {
                                color        : @atom-color-font;
                                font-weight  : 400;
                                font-size    : @atom-font-body;
                                margin-right : @atom-space-small;
                            }
                            span.size {
                                color        : @atom-color-label;
                                font-weight  : 400;
                                font-size    : @atom-font-small;
                                margin-right : @atom-space-small / 2;
                            }
                        }
                        div.img {
                            border-radius : 5px;
                            margin        : 0;
                            display       : flex;
                            img {
                                transition    : @atom-animation-duration-in-fast ease;
                                margin        : 0 0 0 10px;
                                border-radius : inherit;
                                outline       : none;
                                cursor        : zoom-in;
                            }
                            &.hidden-height {
                                img {
                                    transition : @atom-animation-duration-in-fast ease;
                                    height     : 0;
                                }
                            }
                        }
                    }

                    // Pdf
                    div.pdf {
                        display        : flex;
                        flex-direction : column;
                        align-items    : flex-start;
                        div.line-1 {
                            display         : flex;
                            flex-direction  : row;
                            justify-content : flex-start;
                            align-items     : center;
                            span.text {
                                color       : @atom-color-label;
                                font-weight : 400;
                                font-size   : @atom-font-body;
                            }
                            a.name {
                                color               : @atom-color-font;
                                font-weight         : 600;
                                font-size           : @atom-font-body;
                                margin-left         : @atom-space-small / 2;
                                cursor              : pointer;
                                outline             : @atom-outline;
                                animation-name      : fadeIn;
                                animation-fill-mode : @atom-animation-fill;
                                animation-duration  : @atom-animation-duration-in-fast;
                                &:hover {
                                    text-decoration : underline;
                                }
                                &.ng-hide,
                                &.ng-hide-active {
                                    display : none !important;
                                }
                            }
                        }
                    }

                    // Expand icon
                    div.icon-expand {
                        outline    : @atom-outline;
                        color      : @atom-color-label;
                        font-size  : @atom-font-body;
                        transition : @atom-transition;
                        i {
                            color          : inherit;
                            font-size      : inherit;
                            vertical-align : middle;
                            transition     : all @atom-animation-duration-in-fast ease-in-out;
                            &.caret-left {
                                transform : rotate(-90deg);
                            }
                        }
                        &:hover {
                            color : @atom-color-font;
                        }
                    }

                    // Toast for document
                    a.document-toast {
                        display          : flex;
                        flex-direction   : row;
                        justify-content  : flex-start;
                        align-items      : center;
                        border-radius    : 5px;
                        border           : 1px solid @atom-color-line-rule;
                        min-width        : 280px;
                        background-color : @atom-color-white;
                        box-sizing       : border-box;
                        margin           : @atom-space-small / 2 0 @atom-space-small 0;
                        padding          : @atom-space-small @atom-space-base;
                        transition       : all @atom-animation-duration-in-fast ease;
                        transform        : scaleY(1);
                        cursor           : pointer;
                        text-decoration  : none;
                        div.img {
                            margin : 0 @atom-space-small 0 0;
                            img {
                                height : 37px;
                            }
                        }
                        div.column-block {
                            display        : flex;
                            flex-direction : column;
                            align-items    : flex-start;
                            margin         : 0 0 0 @atom-space-small;
                            span.name {
                                color       : @atom-color-font;
                                font-weight : 600;
                                font-size   : @atom-font-body;
                            }
                            div.row {
                                display         : flex;
                                flex-direction  : row;
                                justify-content : flex-start;
                                align-items     : center;
                                margin          : 0;
                                span.size {
                                    color       : @atom-color-label;
                                    font-weight : 400;
                                    font-size   : @atom-font-small;
                                }
                                span.download {
                                    color               : @atom-color-label;
                                    font-weight         : 400;
                                    font-size           : @atom-font-small;
                                    margin-left         : @atom-space-small / 2;
                                    animation-name      : fadeIn;
                                    animation-fill-mode : @atom-animation-fill;
                                    animation-duration  : @atom-animation-duration-in-fast;
                                    &.ng-hide {
                                        display : none;
                                    }
                                }
                            }
                        }
                        &.hidden-height {
                            max-height     : 0;
                            transform      : scaleY(0);
                            margin-top     : 0;
                            margin-bottom  : 0;
                            padding-top    : 0;
                            padding-bottom : 0;
                        }
                    }
                }
            }
        }
    }
}