div.atom-chat div.chat-col {
    div.chat-messages-container {
        width      : 100%;
        padding    : @atom-space-small 0;
        overflow-x : hidden;
        overflow-y : auto;
        div.chat-messages {
            width : 100%;
            div.message {
                position : relative;
                margin   : 1px 0;
                width    : 100%;

                // Imports
                @import (less) "user.less";
                @import (less) "bot.less";
                @import (less) "actionBar.less";

                // Messages
                div.message-body {
                    @import (less) "categories/documentToast.less";
                    @import (less) "categories/excel.less";
                    @import (less) "categories/iconExpand.less";
                    @import (less) "categories/image.less";
                    @import (less) "categories/mp3.less";
                    @import (less) "categories/pdf.less";
                    @import (less) "categories/text.less";
                    @import (less) "categories/word.less";
                }
            }
        }
    }
}