/************/
/**   HR   **/
/************/
hr.small {
  border-color: @atom-color-line-rule;
  border-width: 3px;
  max-width:    50px;
}
hr.small.light {
  border-color: @atom-color-white;
}
/******************/
/**   ATOM BTN   **/
/******************/
div.atom-btn-container {
  margin-left:  @atom-space-small;
  margin-right: @atom-space-small;
}
p.help-text {
  margin:     0;
  color:      @atom-color-label;
  text-align: justify;
}
.form-left-img {
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
  width:     50%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  overflow-x: hidden;
}
