/**********************/
/**   FONT & COLOR   **/
/**********************/
body {
  font-family: @atom-family-body;
  color:       @atom-color-font;
}
h1 {
  font-family: @atom-family-h1;
  color:       @atom-color-font;
}
h2 {
  font-family: @atom-family-h2;
  color:       @atom-color-font;
}
h3 {
  font-family: @atom-family-h3;
  color:       @atom-color-font;
}
h4 {
  font-family: @atom-family-h4;
  color:       @atom-color-font;
  font-weight: 400;
  strong {
    font-weight: 500;
  }
}
span {
  font-family: @atom-family-body;
}
p {
  font-family: @atom-family-body;
  color:       @atom-color-font;
}
label {
  font-family: @atom-family-body;
  color:       @atom-color-label;
}
small {
  font-family: @atom-family-body;
  color:       @atom-color-label;
}
a {
  font-family: @atom-family-body;
  color:       @atom-color-blue;
  outline:     @atom-outline;
  &:active,
  &:focus,
  &:hover {
    color:   @atom-color-blue-active;
    outline: @atom-outline;
  }
}
label.atom-label {
  font-size:   @atom-font-h3;
  color:       @atom-color-label;
  padding:     0;
  font-weight: 400;
}
mark.atom-mark {
  border-radius: @atom-radius;
  padding:       0 @atom-space-small;
  font-size:     @atom-font-small;
  font-weight:   400;
  color:         @atom-color-white;
  &.creator {
    background-color: @atom-color-blue;
  }
  &.member {
    background-color: @atom-color-green;
  }
  &.admin {
    background-color: @atom-color-purple;
  }
  &.kicked,
  &.banned {
    background-color: @atom-color-yellow;
  }
}
