/**********************/
/**   FONT & COLOR   **/
/**********************/
body {
  font-family: @atom-family-body;
  color:       @atom-color-font;
}
h1 {
  font-family: @atom-family-h1;
  color:       @atom-color-font;
}
h2 {
  font-family: @atom-family-h2;
  color:       @atom-color-font;
}
h3 {
  font-family: @atom-family-h3;
  color:       @atom-color-font;
}
h4 {
  font-family: @atom-family-h4;
  color:       @atom-color-font;
}
span {
  font-family: @atom-family-body;
}
p {
  font-family: @atom-family-body;
  color:       @atom-color-font;
}
label {
  font-family: @atom-family-body;
  color:       @atom-color-label;
}
small {
  font-family: @atom-family-body;
  color:       @atom-color-label;
}
a {
  font-family: @atom-family-body;
  color:       @atom-color-blue;
  outline:     @atom-outline;
  &:active,
  &:focus,
  &:hover {
    color:   @atom-color-blue-active;
    outline: @atom-outline;
  }
}
