<!-- Profile picture -->
<div class="user-image">
    <img class="img-thumbnail img-circle animated bounceIn"
         ng-src="{{ usersFactory.getUserImage(message.sender) }}">
</div>

<!-- Content -->
<div class="message-content">

    <!-- Sender -->
    <div class="from">
        <a ui-sref="app.groups.details({groupName: vm.groupName})"></a>

        <!-- Username -->
        <a href
           ui-sref="app.profiles.user({username: message.sender})"
           ng-click="goTo.view('app.profiles.user', {username: message.sender})"
           class="atom-link user-username"
           ng-class="{'atom-link-yellow': message.sender == vm.user.username}">
            @{{ message.sender }}
        </a>

        <!-- Send date -->
        <span class="sent-date">{{ message.sent | date: 'HH:mm' }}</span>

        <!-- When edited -->
        <span ng-show="message.edited != 0"
              class="edited">
            {{ 'chat_message_edited_on' | translate }}
            {{ message.edited | date: 'HH:mm' }}
        </span>
    </div>

    <!-- Message content -->
    <div ng-include="'views/chat/messages/chat.messages.content.html'"></div>
</div>

<!-- Action bar -->
<div class="action-bar">

    <!-- Answer (quote) -->
    <answer-action answer-action-display="message.sender != vm.user.username && message.category == 'text'"></answer-action>

    <!-- Copy the text -->
    <copy-action copy-action-message-id="'message-user-' + message._id"
                 copy-action-display="message.category == 'text'">
    </copy-action>

    <!-- Talk with -->
    <chat-action chat-action-display="message.sender != vm.user.username && $state.current.name != 'app.chat.user'"
                 chat-action-on-click="goTo.view('app.chat.user', {username: message.sender})">
    </chat-action>

    <!-- Accordion -->
    <accordion-action accordion-action-display="message.category == 'image'"
                      accordion-action-expanded="message.expanded">
    </accordion-action>

    <!-- Download -->
    <download-action download-action-display="message.category == 'image'"
                     download-action-src="{{ message.content.url }}"
                     download-action-name="{{ message.content.fullName }}">
    </download-action>
</div>