<!-- Profile picture -->
<div class="bot-image">
    <img class="img-thumbnail img-circle"
         ng-src="{{ botFactory.getBotByName(message.sender).picture }}">
</div>

<!-- Content -->
<div class="message-content">

    <!-- Sender -->
    <div class="from">

        <!-- Bot name -->
        <a href
           ng-click="methods.showPopup($event, 'botProfile' + message.sender, {})"
           class="atom-link bot-name"
           ng-class="botFactory.getBotByName(message.sender).color">
            {{ message.sender }}
        </a>

        <!-- Send date -->
        <span class="sent-date">{{ message.sent | date: 'HH:mm' }}</span>
    </div>

    <!-- Message content -->
    <span class="message-body"
          id="message-bot-{{ message.id }}"
          cozen-compile="message.content">
    </span>
</div>

<!-- Action bar -->
<div class="action-bar">
    <copy-action copy-action-message-id="'message-bot-' + message.id"></copy-action>
    <chat-action chat-action-on-click="goTo.view('app.chat.user', {userName: message.sender})"></chat-action>
</div>