<!-- Profile picture -->
<div class="bot-image">
    <img class="img-thumbnail img-circle"
         ng-src="{{ botFactory.getBotByName(message.sender).picture }}">
</div>

<!-- Content -->
<div class="message-content">

    <!-- Sender -->
    <div class="from">

        <!-- Bot name -->
        <a href
           ng-click="methods.showPopup($event, 'botProfile' + message.sender, {})"
           class="atom-link bot-name"
           ng-class="botFactory.getBotByName(message.sender).color">
            @{{ message.sender }}
        </a>

        <!-- Send date -->
        <span class="sent-date">{{ message.sent | date: 'HH:mm' }}</span>
    </div>

    <!-- Message content -->
    <div ng-include="'views/chat/messages/chat.messages.content.html'"></div>
</div>

<!-- Action bar -->
<div class="action-bar">

    <!-- Answer (quote) -->
    <answer-action></answer-action>

    <!-- Copy the text -->
    <copy-action copy-action-message-id="'message-user-' + message._id"
                 copy-action-display="message.category == 'text'">
    </copy-action>

    <!-- Talk with -->
    <chat-action chat-action-display="$state.current.name != 'app.chat.user'"
                 chat-action-on-click="goTo.view('app.chat.user', {username: message.sender})">
    </chat-action>
</div>