<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-12 animated fadeInLeft">

      <!-- Title -->
      <h1>{{ 'log_login_title' | translate }}</h1>
      <p class="help-text">
        {{ 'log_login_subtitle_1' | translate }}
        <a href
           ng-click="goTo.view('app.register')">
          {{ 'log_login_subtitle_2' | translate }}
        </a>
      </p>
      <p class="help-text">{{ 'log_login_subtitle_3' | translate }}</p>
      <p class="help-text">{{ 'log_login_subtitle_4' | translate }}</p>
    </div>
  </div>
</div>
