<div class="animated fadeIn"
     ng-init="vm.methods.onDisplayDetails()">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">

        <!-- Filter -->
        <cozen-form cozen-form-name="members"
                    cozen-form-ctrl="vm"
                    cozen-form-model="form">
          <div class="col-xs-12 col-md-6">
            <cozen-input cozen-input-model="vm.members.search"
                         cozen-input-name="search"
                         cozen-input-success-design="false"
                         cozen-input-error-design="false"
                         cozen-input-icon-left="fa fa-search"
                         cozen-input-placeholder="groups_members_search_pc"
                         cozen-input-auto-complete="off"
                         cozen-input-class="atom-search-input">
            </cozen-input>
          </div>
          <div class="col-xs-12 col-md-6">
            <cozen-pagination cozen-pagination-model="vm.members.currentPage"
                              cozen-pagination-class="flex-end"
                              cozen-pagination-limit-per-page="vm.members.limit"
                              cozen-pagination-total-elements="fakeMembersFilter.length"
                              cozen-pagination-auto-hide="true">
            </cozen-pagination>
          </div>
        </cozen-form>
      </div>

      <!-- Members -->
      <div class="atom-groups space-medium-before space-base-after">
        <div class="atom-group"
             style="animation-delay: {{ 50 * $index + 'ms' }};"
             ng-class="{'border-bottom': $last}"
             ng-repeat="member in vm.groupMembers
           | orderBy: 'joined':vm.members.orderBy
           | filter: vm.members.search
           | groupsMembersStatus: vm.members.status
           | startFrom: (vm.members.currentPage - 1) * vm.members.limit
           | limitTo: vm.members.limit
           as membersFilter track by $index">
          <div class="text">
            <p>
              {{ member.givenName }} {{ member.surname }}
              <small>@{{ member.username }}</small>
              <cozen-tooltip ng-show="member.admin"
                             cozen-tooltip-placement="auto bottom"
                             cozen-tooltip-label="'groups_member_since' | translate:{'date': (member.joined * 1000 | date: 'EEEE dd MMMM yyyy')}">
                <mark class="atom-mark admin">{{ 'groups_admin' | translate }}</mark>
              </cozen-tooltip>
              <cozen-tooltip ng-show="member.banned.active"
                             cozen-tooltip-placement="auto bottom"
                             cozen-tooltip-type-html
                             cozen-tooltip-label="'groups_banned_since' | translate:{'date': (member.banned.on * 1000 | date: 'EEEE dd MMMM yyyy'), 'userName': member.banned.by, 'for': member.banned.for}">
                <mark class="atom-mark banned">{{ 'groups_banned' | translate }}</mark>
              </cozen-tooltip>
              <cozen-tooltip ng-show="member.kicked.active"
                             cozen-tooltip-placement="auto bottom"
                             cozen-tooltip-type-html
                             cozen-tooltip-label="'groups_kicked_since' | translate:{'date': (member.kicked.on * 1000 | date: 'EEEE dd MMMM yyyy'), 'userName': member.kicked.by, 'for': member.kicked.for, 'time': (vm.methods.getKickedTime(member.kicked.time).key | translate)}">
                <mark class="atom-mark kicked">{{ 'groups_kicked' | translate }}</mark>
              </cozen-tooltip>
            </p>
            <p class="help-text">
              {{ 'groups_members_since' | translate:{date: (member.joined * 1000 | date: 'EEEE dd MMMM yyyy')} }}
            </p>
          </div>
        </div>

        <!-- Members fake (for actual length) -->
        <div style="display: none;"
             ng-repeat="member in vm.groupMembers
           | filter: vm.members.search
           | groupsMembersStatus: vm.members.status
           as fakeMembersFilter track by $index">
        </div>
      </div>

      <!-- More filter -->
      <a href
         class="space-medium-after"
         onclick="this.blur()"
         ng-click="methods.showPopup($event, 'groupsMembersFilter', vm.members)">
        {{ 'groups_all_show_filter' | translate }}
      </a>
    </div>
  </div>
</div>
