<div class="animated fadeIn"
     ng-init="vm.methods.onDisplayDetails()">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <!-- Filter -->
                <cozen-form cozen-form-name="invitations"
                            cozen-form-ctrl="vm"
                            cozen-form-model="form">
                    <div class="col-xs-12 col-md-6">
                        <cozen-input cozen-input-model="vm.invitations.search"
                                     cozen-input-name="search"
                                     cozen-input-success-design="false"
                                     cozen-input-error-design="false"
                                     cozen-input-icon-left="fa fa-search"
                                     cozen-input-placeholder="groups_invitations_search_pc"
                                     cozen-input-auto-complete="off"
                                     cozen-input-class="atom-search-input">
                        </cozen-input>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <cozen-pagination cozen-pagination-model="vm.invitations.currentPage"
                                          cozen-pagination-class="flex-end"
                                          cozen-pagination-limit-per-page="vm.invitations.limit"
                                          cozen-pagination-total-elements="fakeInvitationsFilter.length"
                                          cozen-pagination-auto-hide="true">
                        </cozen-pagination>
                    </div>
                </cozen-form>
            </div>

            <!-- Invitations -->
            <div ng-show="vm.groupInvitations != null"
                 class="atom-invitations space-base-before space-base-after">
                <div class="atom-invitation"
                     style="animation-delay: {{ 50 * $index + 'ms' }};"
                     ng-class="{'border-bottom': $last, 'waiting': invitation.status.response == 1, 'accepted': invitation.status.response == 2, 'rejected': invitation.status.response == 0}"
                     ng-repeat="invitation in vm.groupInvitations
                       | orderBy: 'date':vm.invitations.orderBy
                       | filter: vm.invitations.search
                       | groupsInvitationsTypes: vm.invitations.types
                       | startFrom: (vm.invitations.currentPage - 1) * vm.invitations.limit
                       | limitTo: vm.invitations.limit
                       as invitationsFilter track by $index">
                    <div class="icon">
                        <i class="fa fa-fw"
                           ng-class="{'icons8-event-declined-filled': invitation.status.response == 0, 'icons8-event-accepted-filled': invitation.status.response == 2, 'icons8-event-accepted-tentatively-filled': invitation.status.response == 1}">
                        </i>
                    </div>
                    <div class="text">
                        <p>
                            {{ invitation.givenName }} {{ invitation.surname }}
                            <small>
                                <a href
                                   ng-click="goTo.view('app.profiles.user', {username: invitation.username}, $event)"
                                   ui-sref="app.profiles.user({username: invitation.username})">
                                    @{{ invitation.username }}
                                </a>
                            </small>
                        </p>
                        <p class="help-text"
                           compile="('groups_invitations_status_' + invitation.status.response) | translate:{date: (invitation.status.date | date: 'EEEE dd MMMM yyyy - HH:mm'), userName: '@' + invitation.sentBy}"></p>
                    </div>
                </div>

                <!-- Invitations fake (for actual length) -->
                <div style="display: none;"
                     ng-repeat="group in vm.groupInvitations
                       | filter: vm.invitations.search
                       | groupsInvitationsTypes: vm.invitations.types
                       as fakeInvitationsFilter track by $index">
                </div>
            </div>

            <!-- Info message for empty invitations -->
            <cozen-alert cozen-alert-display="vm.groupInvitations == null"
                         cozen-alert-label="'groups_invitations_empty'"
                         cozen-alert-close-btn="false"
                         cozen-alert-class="space-medium-before space-base-after"
                         cozen-alert-type-info>
            </cozen-alert>

            <div class="space-medium-after center-flex-content">

                <!-- Add members btn -->
                <cozen-btn ng-show="vm.details.userIsInGroup"
                           cozen-btn-label="'groups_invitations_invite_group'"
                           cozen-btn-auto-sizing="true"
                           cozen-btn-on-click="goTo.view('app.groups.recruit', {'groupName': vm.details.group.name})">
                </cozen-btn>

                <!-- More filter -->
                <a href
                   onclick="this.blur()"
                   ng-click="methods.showPopup($event, 'groupsInvitationsFilter', vm.invitations)">
                    {{ 'groups_all_show_filter' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
