<div class="animated fadeIn"
     ng-init="vm.methods.onDisplayEdit()">
  <div class="row">
    <div class="col-xs-12">
      <cozen-form cozen-form-name="edit"
                  cozen-form-ctrl="vm"
                  cozen-form-model="form">
        <cozen-textarea cozen-textarea-model="vm.edit.description"
                        cozen-textarea-name="{{ vm.CONFIG.internal.group.description.name }}"
                        cozen-textarea-max-length="{{ vm.CONFIG.internal.group.description.length }}"
                        cozen-textarea-label="groups_register_description"
                        cozen-textarea-placeholder="groups_register_description_pc"
                        cozen-textarea-validator-all
                        cozen-textarea-elastic="false"
                        cozen-textarea-required="{{ vm.CONFIG.internal.group.description.required }}"
                        cozen-textarea-class="space-medium-after">
        </cozen-textarea>
        <p class="help-block space-small-before space-medium-after">
          {{ 'account_profile_date_last_update'
          | translate:"{date:'" + (vm.edit.date.lastUpdate * 1000 | date: 'EEEE dd MMMM yyyy') + "'}" }}
        </p>

        <!-- Edit btn -->
        <cozen-btn cozen-btn-label="account_settings_save"
                   cozen-btn-auto-sizing="true"
                   cozen-btn-type-success
                   cozen-btn-loader="vm.loading"
                   cozen-btn-disabled="vm.form.profile.$invalid"
                   cozen-btn-on-click="vm.methods.save('edit')"
                   cozen-btn-icon-right="fa icons8-clouds-filled">
        </cozen-btn>
      </cozen-form>
    </div>
  </div>
</div>
