<cozen-popup cozen-popup-name="allGroupsFilter"
             cozen-popup-type-info
             cozen-popup-size-small
             cozen-popup-data="popup.allGroupsFilter.data"
             cozen-popup-header-title="popup_allGroups_filter_header_title"
             cozen-popup-on-hide="popup.methods.onPopupSettingsClose(id, name)">
    <div class="row">
        <div class="col-xs-10 col-xs-push-1 space-large-before space-large-after">
            <cozen-form cozen-form-name="logsFilter"
                        cozen-form-ctrl="popup"
                        cozen-form-model="form">

                <!-- Limit per page -->
                <cozen-input cozen-input-model="popup.allGroupsFilter.data.limit"
                             cozen-input-name="limit"
                             cozen-input-min="1"
                             cozen-input-max="100"
                             cozen-input-min-length="1"
                             cozen-input-max-length="3"
                             cozen-input-type-number
                             cozen-input-label="popup_logs_filter_body_limit"
                             cozen-input-placeholder="popup_logs_filter_body_limit_pc"
                             cozen-input-required="true"
                             cozen-input-validator-all
                             cozen-input-class="space-medium-after">
                </cozen-input>

                <!-- Order by -->
                <cozen-btn-toggle cozen-btn-toggle-model="popup.allGroupsFilter.data.orderBy"
                                  cozen-btn-toggle-label="popup_logs_filter_body_order_by"
                                  cozen-btn-toggle-tooltip="popup_allGroups_filter_body_order_by_tooltip"
                                  cozen-btn-toggle-class="space-medium-after">
                </cozen-btn-toggle>

                <!-- My groups -->
                <cozen-btn-toggle cozen-btn-toggle-model="popup.allGroupsFilter.data.myGroups"
                                  cozen-btn-toggle-label="popup_allGroups_filter_body_myGroups"
                                  cozen-btn-toggle-tooltip="popup_allGroups_filter_body_myGroups_tooltip"
                                  cozen-btn-toggle-on-change="popup.allGroupsFilter.data.myGroupsAdmin = false"
                                  cozen-btn-toggle-class="space-small-after">
                </cozen-btn-toggle>

                <!-- My groups - Admin -->
                <cozen-btn-toggle ng-show="popup.allGroupsFilter.data.myGroups"
                                  cozen-btn-toggle-model="popup.allGroupsFilter.data.myGroupsAdmin"
                                  cozen-btn-toggle-label="popup_allGroups_filter_body_myGroupsAdmin"
                                  cozen-btn-toggle-tooltip="popup_allGroups_filter_body_myGroupsAdmin_tooltip">
                </cozen-btn-toggle>
            </cozen-form>
        </div>
    </div>
</cozen-popup>
