<cozen-popup cozen-popup-name="forgottenPassword"
             cozen-popup-type-green
             cozen-popup-header-title="popup_forgotten_password_header_title">
  <div class="row">
    <div class="col-xs-10 col-xs-push-1 space-large-after">
      <h3 class="space-large-before">{{ 'popup_forgotten_password_body_title' | translate }}</h3>
      <p class="help-text">{{ 'popup_forgotten_password_body_subtitle_1' | translate }}</p>
      <p class="help-text">{{ 'popup_forgotten_password_body_subtitle_2' | translate }}</p>
      <p class="help-text">{{ 'popup_forgotten_password_body_subtitle_3' | translate }}</p>
    </div>
    <div class="col-xs-6 col-xs-push-1 space-large-after">
      <cozen-form cozen-form-name="forgottenPassword"
                  cozen-form-ctrl="popup"
                  cozen-form-model="form">
        <cozen-input cozen-input-model="popup.forgottenPassword.email"
                     cozen-input-name="{{ popup.CONFIG.internal.log.email.name }}"
                     cozen-input-max-length="{{ popup.CONFIG.internal.log.email.length }}"
                     cozen-input-pattern="{{ popup.CONFIG.internal.log.email.pattern }}"
                     cozen-input-label="log_register_email"
                     cozen-input-placeholder="log_register_email_pc"
                     cozen-input-required="{{ popup.CONFIG.internal.log.email.required }}"
                     cozen-input-class="space-medium-after">
        </cozen-input>
        <div class="center-flex-content">
          <cozen-btn cozen-btn-type-green
                     cozen-btn-icon-right="fa icons8-message-filled"
                     cozen-btn-label="popup_forgotten_password_body_send"
                     cozen-btn-auto-sizing="true"
                     cozen-btn-disabled="popup.form.forgottenPassword.$invalid"
                     cozen-btn-on-click="popup.methods.forgottenPassword()">
          </cozen-btn>
          <cozen-btn cozen-btn-type-cold
                     cozen-btn-label="popup_cancel"
                     cozen-btn-auto-sizing="true"
                     cozen-btn-on-click="popup.methods.closePopup('forgotten_password')">
          </cozen-btn>
        </div>
      </cozen-form>
    </div>
  </div>
</cozen-popup>
