<div ng-include="'views/common/popups/popup.logout.html'"></div>
<div ng-include="'views/common/popups/test/popup.test.microphone.html'"></div>
<div ng-include="'views/common/popups/test/popup.test.speaker.html'"></div>
<div ng-include="'views/common/popups/popup.forgotten.password.html'"></div>
<div ng-include="'views/common/popups/settings/popup.logs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.accessLogs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.allGroups.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.allChannels.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.granted.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.revoked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.kicked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.banned.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.unbanned.html'"></div>
<div ng-include="'views/common/popups/chat/popup.setStatus.html'"></div>
<div ng-include="'views/common/popups/bot/popup.bot.profile.friendybot.html'"></div>
<div ng-include="'views/common/popups/bot/popup.bot.profile.spamobot.html'"></div>
