<div ng-include="'views/common/popups/popup.logout.html'"></div>
<div ng-include="'views/common/popups/popup.test.microphone.html'"></div>
<div ng-include="'views/common/popups/popup.test.speaker.html'"></div>
<div ng-include="'views/common/popups/popup.forgotten.password.html'"></div>
<div ng-include="'views/common/popups/popup.logs.filter.html'"></div>
<div ng-include="'views/common/popups/popup.allGroups.filter.html'"></div>
<div ng-include="'views/common/popups/popup.allChannels.filter.html'"></div>
<div ng-include="'views/common/popups/popup.groupsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/popup.channelsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/popup.groupsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/popup.channelsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/popup.groupsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/popup.channelsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.granted.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.revoked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.kicked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.banned.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.unbanned.html'"></div>
<div ng-include="'views/common/popups/chat/popup.setStatus.html'"></div>
