<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Le réseau social pour faire de l'escalade entre amis</h1>
      <hr>
      <h2>Trouver vos partenaires d'escalade n'a jamais était aussi simple.<br>
          Suivez votre progression, vos évolutions et partagez vos performances !</h2>
      <a href
         du-smooth-scroll="about"
         onclick="this.blur();"
         class="btn btn-primary btn-xl tau-reverse">Découvrez ClimbTastic !</a>
    </div>
  </div>
</header>

<section class="bg-primary"
         id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Nous avons ce que vous recherchez</h2>
        <hr class="light">
        <p class="text-faded">
          Finie l'escalade en solitaire, rejoignez notre communauté de grimpeurs !<br>
          Plus de XXX membres nous ont déjà fait confiance.<br>
          ClimbTastic, c'est une nouvelle manière de voir l'escalade !
        </p>
        <a href
           ng-click="goTo.view('register')"
           class="page-scroll btn btn-default btn-xl sr-button tau-white-bd">S'inscrire !</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">ClimbTastic</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
          <h3>Des statistiques</h3>
          <p class="text-muted">Analysez ce que vous avez grimpé !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <h3>Des amis</h3>
          <p class="text-muted">Echangez et partagez vos performances</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-comments text-primary sr-icons"></i>
          <h3>Une communauté</h3>
          <p class="text-muted">Retrouvez vos partenaires d'escalade</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Conçu avec amour</h3>
          <p class="text-muted">Fait par des passionnés pour des passionnés</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding"
         id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/1.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/1.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Une communauté
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/2.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/2.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Des grimpeurs
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/3.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/3.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Des performances
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/4.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/4.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Des statistiques
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/5.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/5.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Des rencontres
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="images/portfolio/fullsize/6.jpg"
           class="portfolio-box">
          <img ng-src="images/home/thumbnails/6.jpg"
               class="img-responsive"
               alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Des amis
              </div>
              <div class="project-name">
                Nom
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>En plus, c'est gratuit !</h2>
      <a href
         ng-click="goTo.view('register')"
         class="btn btn-default btn-xl sr-button tau-reverse">S'inscrire !</a>
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Une application</h2>
        <hr class="primary">
        <p class="space-after">Conçu pour toutes les plateformes !</p>
        <div class="icon-type-devices db-big-space-after">
          <img ng-src="images/home/devices/Android-96.png">
          <img ng-src="images/home/devices/Android-Tablet-96.png">
          <img ng-src="images/home/devices/Monitor-96.png"
               style="margin-left: 18px;">
        </div>
        <p class="space-after">Téléchargez notre application dès maintenant !</p>
        <div class="icons-type-store db-big-space-after">
          <a href><img ng-src="images/home/store/app-store.png"></a>
          <a href><img ng-src="images/home/store/google-store.png"></a>
          <a href><img ng-src="images/home/store/winphone-store.png"></a>
        </div>
        <p>Puis enregistrez vos activités, analysez et partagez vos performances !</p>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container white-links">
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center-xs text-center-sm text-left-md text-left-lg">
        <a href
           ng-click="goTo.view('legal-mentions')">Mentions légales</a>
        <p>Copyright ClimbTastic & Co</p>
        <p>
          Fait avec
          <i class="fa fa-heart red"></i>
          par ClimbTastic Team
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <a href
           ng-if="goTo.isConnected() && !goTo.isAdmin()"
           ng-click="goTo.view('activities.default')">Activités</a>
        <a href
           ng-if="goTo.isConnected() && !goTo.isAdmin()"
           ng-click="goTo.view('social.main')">Social</a>
        <a href
           ng-if="goTo.isConnected() && !goTo.isAdmin()"
           ng-click="goTo.view('stats.mine')">Stats</a>
      </div>
      <div class="col-xs-12 col-md-4 text-center-xs text-center-sm text-right-md text-right-lg">
        <a href
           ng-if="!goTo.isConnected()"
           ng-click="goTo.view('register')">Inscription</a>
        <a href
           ng-if="!goTo.isConnected()"
           ng-click="goTo.view('login')">Connexion</a>
        <a href
           ng-if="goTo.isConnected()"
           ng-click="goTo.view('account.details', {id: utils.getConnectedUser().id})">Mon compte</a>
        <a href
           ng-if="goTo.isConnected()"
           data-toggle="modal"
           data-target="#modal-logout"
           onclick="this.blur();">Déconnexion</a>
      </div>
    </div>
  </div>
</aside>

<script type="text/javascript">

  window.sr = ScrollReveal();
  sr.reveal('.sr-icons', {
    duration: 600,
    scale   : 0.3,
    distance: '0px'
  }, 200);
  sr.reveal('.sr-button', {
    duration: 1000,
    delay   : 200
  });

</script>
