.atom-markdown-container {
    color       : @atom-color-font;
    font-weight : 400;
    font-size   : 14px;
    margin      : 0;
    h1 {
        margin      : 0;
        font-size   : 200%;
        font-weight : 600;
        & + * {
            margin-top : @atom-space-small !important;
        }
    }
    h2 {
        margin      : 0;
        font-size   : 150%;
        font-weight : 600;
        & + * {
            margin-top : @atom-space-small !important;
        }
    }
    h3 {
        margin      : 0;
        font-size   : 150%;
        font-weight : inherit;
        & + * {
            margin-top : @atom-space-small !important;
        }
    }
    h4 {
        margin      : 0;
        font-size   : 120%;
        font-weight : inherit;
    }
    h5 {
        margin      : 0;
        font-size   : 100%;
        font-weight : 600;
    }
    h6 {
        margin      : 0;
        font-size   : 100%;
        font-weight : inherit;
    }
    p {
        margin      : 0;
        font-size   : 100%;
        font-weight : inherit;
    }
    small {
        margin      : 0;
        font-size   : 80%;
        font-weight : inherit;
    }
    strong {
        margin      : 0;
        font-size   : 100%;
        font-weight : 600;
    }
    em {
        margin      : 0;
        font-size   : 100%;
        font-weight : inherit;
        font-style  : italic;
    }
}