---
---

@import "{{ site.theme }}";

// Override the green of the cayman
.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
	color: #9C27B0;
}

// Change the color hover the btn
.btn.btn-green {
	background-color: #9C27B0;
	&:hover {
		background-color: #B92ED1;
	}
}

// Change the color of the header
.page-header {
 	background-color: #9C27B0;
   	background-image: linear-gradient(120deg, #9C27B0, #B92ED1);
}

// Change the color of a link
a {
	color: #2C9FDD;
	&:hover {
		color: #32AFE3;
	}
}
