<div class="chat-messages">
    <div class="messages">
        <div ng-repeat="message in vm.messages track by $index"
             class="message"
             ng-class="message.type">
            <div class="user-image">
                <img ng-src="">
            </div>
            <div class="message-content">
                <div class="from">
                    <a href
                       ui-sref="app.profiles.user({username: message.sender})"
                       ng-click="goTo.view('app.profiles.user', {username: message.sender})"
                       class="atom-link user-username">
                        @{{ message.sender }}
                    </a>
                    <span class="sent-date">{{ message.sent | date: 'HH:mm' }}</span>
                    <span ng-show="message.edited != 0"
                          class="edited">
                        {{ 'chat_message_edited_on' | translate }}
                        {{ message.edited | date: 'HH:mm' }}
                    </span>
                </div>
                <span class="message-body">{{ message.content }}</span>
            </div>
        </div>
    </div>
</div>