<div class="container-fluid atom-chat"
     ng-class="[vm.chatTheme, vm.hasGroup ? '' : 'hidden-column-groups']"
     ng-init="vm.methods.onInit();">

    <!-- Groups -->
    <div class="chat-groups-container animated"
         ng-if="vm.hasGroup"
         ng-include="'views/chat/chat.groups.html'">
    </div>

    <!-- Channels -->
    <div class="chat-channels-container"
         id="chat-channels-container">

        <!-- Active group -->
        <div class="chat-active-group"
             ng-mouseenter="vm.onHoverChannelContainer = true"
             ng-mouseleave="vm.onHoverChannelContainer = false"
             ng-include="'views/chat/chat.activeGroup.html'">
        </div>

        <!-- Channels -->
        <div class="chat-list"
             ng-if="vm.hasGroup"
             ng-include="'views/chat/chat.channels.html'">
        </div>

        <!-- Friends -->
        <div class="chat-list"
             ng-class="{'no-padding-top': vm.hasGroup}"
             ng-include="'views/chat/chat.friends.html'">
        </div>

        <!-- Search bar -->
        <div class="chat-search-bar"
             ng-include="'views/chat/chat.searchbar.html'">
        </div>
    </div>

    <!-- Col -->
    <div class="chat-col"
         id="chat-context-container">

        <!-- Context -->
        <div class="ui-view chat-context-container"></div>

        <!-- Alerts -->
        <div ng-show="vm.activeFriend.blocked != 0 && $state.current.name == 'app.chat.user'"
             class="chat-alert-container">

            <!-- Blocked alert -->
            <cozen-alert cozen-alert-display="vm.activeFriend.blocked != 0 && $state.current.name == 'app.chat.user'"
                         cozen-alert-close-btn="false"
                         cozen-alert-label="'chat_alert_friend_blocked'"
                         cozen-alert-label-values="{username: $state.params.username, date: (vm.activeFriend.blocked | date: 'EEEE dd MMMM yyyy')}"
                         cozen-alert-animation-in-class="fadeIn"
                         cozen-alert-type-warning>
            </cozen-alert>
        </div>

        <!-- Messages -->
        <div class="chat-messages-container"
             ng-include="'views/chat/messages/chat.messages.html'">
        </div>
    </div>
</div>