<cozen-form cozen-form-ctrl="vm"
            cozen-form-model="form"
            cozen-form-name="search">
    <cozen-input cozen-input-model="vm.searchValue"
                 cozen-input-name="search"
                 cozen-input-spell-check="false"
                 cozen-input-success-design="false"
                 cozen-input-error-design="false"
                 cozen-input-icon-left="fa fa-search"
                 cozen-input-placeholder="chat_search_placeholder"
                 cozen-input-auto-complete="off">
    </cozen-input>
</cozen-form>