<cozen-form cozen-form-ctrl="vm"
            cozen-form-model="form"
            cozen-form-name="message"
            cozen-form-class="row">
    <cozen-textarea cozen-textarea-rows="1"
                    cozen-textarea-model="vm.message"
                    cozen-textarea-placeholder="vm.inputPlaceholder"
                    cozen-textarea-spell-check="false"
                    cozen-textarea-error-design="false"
                    cozen-textarea-success-design="false">
    </cozen-textarea>
</cozen-form>