<div class="chat-video-container"
     ng-show="vm.chat.friends.isVisible">
    <div class="users-stream">
        <video id="user-stream"
               muted="true"
               controls
               class="stream user">
            {{ 'chat_no_video_support' | translate }}
        </video>
        <video id="friend-stream"
               controls
               class="stream friend">
            {{ 'chat_no_video_support' | translate }}
        </video>
    </div>
    <div class="action-container">

    </div>
</div>