<cozen-form cozen-form-ctrl="vm"
            cozen-form-model="form"
            cozen-form-name="message"
            cozen-form-class="row">
    <cozen-textarea cozen-textarea-rows="1"
                    cozen-textarea-model="vm.message"
                    cozen-textarea-placeholder="vm.inputPlaceholder"
                    cozen-textarea-spell-check="false"
                    cozen-textarea-error-design="false"
                    cozen-textarea-success-design="false"
                    cozen-textarea-tooltip-placement="auto top-left"
                    cozen-textarea-tooltip-max-width="450"
                    cozen-textarea-tooltip-type="html"
                    cozen-textarea-tooltip="{{ 'chat_newMessage_tooltip' | translate }}"
                    cozen-textarea-tooltip-class="text-left-inner"
                    cozen-textarea-when-height-greater-than="149"
                    cozen-textarea-when-height-greater-than-class="overflow-textarea"
                    cozen-textarea-when-height-greater-than-disabled="false">
    </cozen-textarea>
</cozen-form>