<!-- Group name -->
<a href
   ui-sref="app.groups.details({groupName: vm.activeGroup})"
   ng-click="goTo.view('app.groups.details', {groupName: vm.activeGroup})"
   class="group-name hover-link animated fadeInRight">
    {{ vm.activeGroup }}
</a>

<!-- Current user -->
<div class="user-profile">

    <!-- Status -->
    <cozen-tooltip cozen-tooltip-label="vm.status.name"
                   cozen-tooltip-placement="auto top">
        <div class="atom-status-icon animated zoomIn"
             onclick="this.blur()"
             ng-click="methods.showPopup($event, 'chatSetStatus', {})"
             ng-style="{'background-color': vm.status.color}">
        </div>
    </cozen-tooltip>

    <!-- Username -->
    <a href
       ui-sref="app.profiles.user({username: vm.user.username})"
       ng-click="goTo.view('app.profiles.user', {username: vm.user.username})"
       class="username hover-link animated fadeInRight">
        @{{ vm.user.username }}
    </a>
</div>

<!-- Close btn -->
<div ng-show="vm.onHoverChannelContainer"
     class="close-btn"
     ng-click="vm.methods.hideChannels($event)">
    <cozen-tooltip cozen-tooltip-label="'chat_close_channels'">
        <i class="fa fa-fw fa-times"></i>
    </cozen-tooltip>
</div>