<div class="user-description">

    <!-- Current user -->
    <a href
       ui-sref="app.profiles.user({username: vm.activeFriend.username})"
       ng-click="goTo.view('app.profiles.user', {username: vm.activeFriend.username})"
       class="friend-name hover-link animated fadeInDown">
        {{ vm.activeFriend.givenName }}
        {{ vm.activeFriend.surname }}
        @{{ vm.activeFriend.username }}
    </a>
    <p class="friend-alias animated fadeInDown"
        ng-show="vm.activeFriend.alias != ''">
        {{ 'chat_alias' | translate }}
        {{ vm.activeFriend.alias }}
    </p>

    <!-- Other info -->
    <div class="line">

        <!-- Status -->
        <cozen-tooltip cozen-tooltip-label="vm.friendStatus.name"
                       cozen-tooltip-placement="auto top">
            <div class="atom-status-icon animated zoomIn"
                 ng-style="{'background-color': vm.friendStatus.color}">
            </div>
        </cozen-tooltip>
        <span class="status">{{ vm.friendStatus.name | translate }}</span>
    </div>
</div>

<!-- Action bar -->
<div class="chat-action-bar">
    <div class="action phone animated zoomIn">
        <cozen-tooltip cozen-tooltip-label="'chat_actionBar_phone_simple'"
                       cozen-tooltip-placement="auto top">
            <i class="fa fa-phone"></i>
        </cozen-tooltip>
    </div>
    <div class="action options animated zoomIn"
         ng-mouseenter="vm.actionBar.options.down = true"
         ng-mouseleave="vm.actionBar.options.down = false">
        <i class="fa fa-cog"></i>

        <!-- Options dropdown -->
        <div class="link-dropdown link-floating"
             ng-show="vm.actionBar.options.down">

            <!-- Channel -->
            <div class="link-dropdown-item link-dropdown-item-title">
                {{ 'chat_actionBar_options_channel' | translate }}
            </div>
            <div class="link-dropdown-item"
                 tabindex="0"
                 ng-click="goTo.view('app.channels.details', {groupName: vm.activeGroup, channelName: vm.activeChannel.name})">
                <i class="fa fa-fw icons8-channel-mosaic space-small-right"></i>
                {{ 'chat_actionBar_options_details' | translate }}
            </div>
            <div class="link-dropdown-item"
                 tabindex="0"
                 ng-click="goTo.view('app.channels.members', {groupName: vm.activeGroup, channelName: vm.activeChannel.name})">
                <i class="fa fa-fw icons8-user-groups space-small-right"></i>
                {{ 'chat_actionBar_options_members' | translate }}
            </div>
            <div class="link-dropdown-item"
                 tabindex="0"
                 ng-click="goTo.view('app.channels.recruit', {groupName: vm.activeGroup, channelName: vm.activeChannel.name})">
                <i class="fa fa-fw icons8-message-filled space-small-right"></i>
                {{ 'chat_actionBar_options_recruit' | translate }}
            </div>
            <div class="link-dropdown-item"
                 tabindex="0"
                 ng-click="goTo.view('app.channels.logs', {groupName: vm.activeGroup, channelName: vm.activeChannel.name})">
                <i class="fa fa-fw icons8-hourglass-filled space-small-right"></i>
                {{ 'chat_actionBar_options_logs' | translate }}
            </div>
            <div class="link-dropdown-item"
                 tabindex="0"
                 ng-click="goTo.view('app.channels.profile')">
                {{ 'chat_actionBar_options_invite' | translate }}
            </div>
        </div>
    </div>
</div>