// Font paths
// -------------------------
@font-face {
  font-family: "Atom";
  src: url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.eot");
  src: url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.woff2") format("woff2"),
       url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.woff") format("woff"),
       url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.ttf") format("truetype"),
       url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.svg#Atom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Atom";
    src: url("../../fonts/Atom_e784f46e020c520b9aded137145c7354.svg#Atom") format("svg");
  }
}
