// Font paths
// -------------------------
@font-face {
    font-family : "Atom";
    src         : url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.eot");
    src         : url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.woff2") format("woff2"),
    url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.woff") format("woff"),
    url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.ttf") format("truetype"),
    url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.svg#Atom") format("svg");
    font-weight : normal;
    font-style  : normal;
}
@media screen and (-webkit-min-device-pixel-ratio : 0) {
    @font-face {
        font-family : "Atom";
        src         : url("../../fonts/Atom_e13534a670c17b3efa97196d718903c4.svg#Atom") format("svg");
    }
}