// Font paths
// -------------------------
@font-face {
  font-family: "Atom";
  src: url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.eot");
  src: url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.woff2") format("woff2"),
       url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.woff") format("woff"),
       url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.ttf") format("truetype"),
       url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.svg#Atom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Atom";
    src: url("../../fonts/Atom_51ece6c0dc95ccf16c845fb4e0c49085.svg#Atom") format("svg");
  }
}
