// Variables
// --------------------------


@icons8-css-prefix: "icons8";
@icons8-font-name: "Atom";
@icons8-font-path: "../fonts";

@icons8-var-channel-mosaic: "\f107";
@icons8-var-chat: "\f103";
@icons8-var-clouds-filled: "\f111";
@icons8-var-google-groups: "\f108";
@icons8-var-google-plus: "\f113";
@icons8-var-login-rounded-right: "\f10f";
@icons8-var-logout-rounded: "\f10e";
@icons8-var-message-filled: "\f114";
@icons8-var-picture-filled: "\f10c";
@icons8-var-rabbit: "\f10a";
@icons8-var-robot-3-filled: "\f10b";
@icons8-var-settings: "\f105";
@icons8-var-time: "\f106";
@icons8-var-video-call: "\f109";
