<div class="animated fadeIn"
     ng-init="vm.methods.onInitProfile()">
    <div class="row">
        <div class="col-xs-12">

            <div class="atom-profile">

                <!-- Profile card -->
                <div class="profile-card">
                    <img class="img-circle img-thumbnail"
                         ng-src="{{ userFactory.getUserImage() }}">
                    <div class="text">
                        <h3>{{ vm.user.givenName }} {{ vm.user.surname }}</h3>
                        <p class="help-text">@{{ vm.user.username }}</p>
                        <h4 class="groups">
                            <a href
                               class="link"
                               ui-sref="app.groups.details({groupName: group.name})"
                               ng-click="goTo.view('app.groups.details', {groupName: group.name})"
                               ng-repeat="group in vm.userGroups track by $index">
                                <span>#{{ group.name }}</span>
                            </a>
                        </h4>
                    </div>
                </div>

                <hr>

                <!-- Info -->
                <h3 class="space-medium-before space-base-after">{{ 'account_profile_data' | translate }}</h3>
                <h4>{{ vm.user.bio }}</h4>
                <h4>
                    <strong>{{ 'account_profile_username' | translate }}:</strong>
                    {{ vm.user.username }}
                </h4>
                <h4 style="margin-bottom: 0;">
                    <strong>{{ 'account_profile_email' | translate }}:</strong>
                    {{ vm.user.email }}
                </h4>
                <p class="help-block no-margin-bottom">
                    {{ 'account_profile_date_register'
                    | translate:"{date:'" + (vm.user.date.register
                    | date: 'EEEE dd MMMM yyyy') + "'}" }}
                </p>
            </div>
        </div>
    </div>

    <!-- Edit btn -->
    <cozen-btn cozen-btn-label="'account_profile_edit'"
               cozen-btn-auto-sizing="true"
               cozen-btn-on-click="goTo.view('app.account.profileEdit')"
               cozen-btn-class="animated fadeInUp space-medium-after">
    </cozen-btn>
</div>
