<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12">

      <!-- Groups -->
      <h3 class="no-margin-top blue">
        <i class="icons-middle icons8-google-groups"></i>
        {{ 'account_notifications_groups' | translate }}
      </h3>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.groups.creation"
                        cozen-btn-toggle-label="account_notifications_creation"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.groups.edit"
                        cozen-btn-toggle-label="account_notifications_edit"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.groups.newMember"
                        cozen-btn-toggle-label="account_notifications_new_member_group"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.groups.kickedMember"
                        cozen-btn-toggle-label="account_notifications_kicked_member"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.groups.bannedMember"
                        cozen-btn-toggle-label="account_notifications_banned_member">
      </cozen-btn-toggle>

      <!-- Channels -->
      <h3 class="space-large-before green">
        <i class="icons-middle icons8-channel-mosaic"></i>
        {{ 'account_notifications_channels' | translate }}
      </h3>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.creation"
                        cozen-btn-toggle-label="account_notifications_creation"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.edit"
                        cozen-btn-toggle-label="account_notifications_edit"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.newMember"
                        cozen-btn-toggle-label="account_notifications_new_member_group"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.kickedMember"
                        cozen-btn-toggle-label="account_notifications_kicked_member"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.bannedMember"
                        cozen-btn-toggle-label="account_notifications_banned_member"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.newMessage"
                        cozen-btn-toggle-label="account_notifications_new_message"
                        cozen-btn-toggle-class="space-small-after">
      </cozen-btn-toggle>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.channels.newMessageTagged"
                        cozen-btn-toggle-tooltip="{{ 'account_notifications_new_message_tagged_tooltip' | translate }}"
                        cozen-btn-toggle-tooltip-type="html"
                        cozen-btn-toggle-label="account_notifications_new_message_tagged">
      </cozen-btn-toggle>

      <!-- Direct message -->
      <h3 class="space-large-before purple">
        <i class="icons-middle icons8-chat"></i>
        {{ 'account_notifications_direct_message' | translate }}
      </h3>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.directMessage.newMessage"
                        cozen-btn-toggle-label="account_notifications_new_message"
                        cozen-btn-toggle-class="space-medium-after">
      </cozen-btn-toggle>

      <!-- Other -->
      <h3 class="space-large-before yellow">
        <i class="icons-middle icons8-appointment-reminders"></i>
        {{ 'account_notifications_other' | translate }}
      </h3>
      <cozen-btn-toggle cozen-btn-toggle-model="vm.notifications.other.newFriend"
                        cozen-btn-toggle-label="account_notifications_new_friend"
                        cozen-btn-toggle-class="space-medium-after">
      </cozen-btn-toggle>

      <!-- Edit btn -->
      <cozen-btn cozen-btn-label="account_settings_edit"
                 cozen-btn-auto-sizing="true"
                 cozen-btn-type-success
                 cozen-btn-loader="vm.loading"
                 cozen-btn-on-click="vm.methods.save('notifications')"
                 cozen-btn-icon-right="fa icons8-clouds-filled"
                 cozen-btn-class="space-medium-after">
      </cozen-btn>
    </div>
  </div>
</div>
