<div class="animated fadeIn"
     ng-init="vm.methods.initLogins()">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <!-- Filter -->
                <cozen-form cozen-form-name="logins"
                            cozen-form-ctrl="vm"
                            cozen-form-model="form">
                    <div class="col-xs-12 col-md-6">
                        <cozen-input cozen-input-model="vm.settingsLogins.search"
                                     cozen-input-name="search"
                                     cozen-input-success-design="false"
                                     cozen-input-error-design="false"
                                     cozen-input-icon-left="fa fa-search"
                                     cozen-input-placeholder="account_logins_search_pc"
                                     cozen-input-auto-complete="off"
                                     cozen-input-class="atom-search-input">
                        </cozen-input>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <cozen-pagination cozen-pagination-model="vm.settingsLogins.currentPage"
                                          cozen-pagination-class="flex-end"
                                          cozen-pagination-limit-per-page="vm.settingsLogins.limit"
                                          cozen-pagination-total-elements="fakeAccessLogFilter.length"
                                          cozen-pagination-auto-hide="true">
                        </cozen-pagination>
                    </div>
                </cozen-form>
            </div>

            <!-- Access logs -->
            <!--"ip": "128.79.237.125",-->
            <!--"hostname": "No Hostname",-->
            <!--"city": "Tourcoing",-->
            <!--"region": "Hauts-de-France",-->
            <!--"country": "FR",-->
            <!--"loc": "50.7239,3.1612",-->
            <!--"org": "AS5410 Bouygues Telecom SA",-->
            <!--"postal": "59200",-->
            <!--"appLanguage": "fr",-->
            <!--"browserName": "Chrome",-->
            <!--"browserVersion": "57.0.2987.133",-->
            <!--"osName": "Windows",-->
            <!--"osVersion": "Windows",-->
            <!--"date": 1491244588573,-->
            <div class="atom-access-logs space-base-before space-base-after">
                <div class="atom-access-log"
                     style="animation-delay: {{ 50 * $index + 'ms' }};"
                     ng-class="[accessLog.category, $last ? 'border-bottom' : '']"
                     ng-repeat="accessLog in vm.accessLogs
			           | orderBy: 'date':vm.settingsLogins.orderBy
			           | filter: vm.settingsLogins.search
			           | startFrom: (vm.settingsLogins.currentPage - 1) * vm.settingsLogins.limit
			           | limitTo: vm.settingsLogins.limit
			           as accessLogFilter track by $index">
                    <div class="text">
                        <p>
                            {{ 'account_logins_login_on_os' | translate }}
                            {{ accessLog.osName }}
                            <small>({{ accessLog.osVersion }})</small>
                            {{ 'account_logins_login_on_browser' | translate }}
                            {{ accessLog.browserName }}
                            <small>({{ accessLog.browserVersion }})</small>
                        </p>
                        <p class="help-text">
                            {{ 'account_logins_login_date' | translate:{date: (accessLog.date | date: 'EEEE dd MMMM yyyy')} }}
                            {{ 'account_logins_login_hour' | translate:{date: (accessLog.date | date: 'HH:mm')} }}
                        </p>
                    </div>
                </div>

                <!-- AccessLogs fake (for actual length) -->
                <div style="display: none;"
                     ng-repeat="accessLog in vm.accessLogs
			           | filter: vm.settingsLogins.search
			           as fakeAccessLogFilter track by $index">
                </div>
            </div>

            <!-- Alert info no accessLogs -->
            <cozen-alert ng-if="vm.accessLogs.length == 0"
                         cozen-alert-label="'account_logins_no_accessLog'"
                         cozen-alert-close-btn="false"
                         cozen-alert-class="space-base-before space-base-after">
            </cozen-alert>

            <div class="space-medium-after center-flex-content">

                <!-- More filter -->
                <a href
                   onclick="this.blur()"
                   ng-click="methods.showPopup($event, 'accessLogsFilter', vm.settingsLogins)">
                    {{ 'account_log_show_filter' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
