<div class="animated fadeIn"
     ng-init="vm.methods.onDisplayEdit()">
  <div class="row">
    <div class="col-xs-12">
      <cozen-form cozen-form-name="profile"
                  cozen-form-ctrl="vm"
                  cozen-form-model="form">
        <cozen-input cozen-input-model="vm.userCopy.surname"
                     cozen-input-name="{{ vm.CONFIG.internal.log.surname.name }}"
                     cozen-input-max-length="{{ vm.CONFIG.internal.log.surname.length }}"
                     cozen-input-pattern="{{ vm.CONFIG.internal.log.surname.pattern }}"
                     cozen-input-label="log_register_surname"
                     cozen-input-placeholder="log_register_surname_pc"
                     cozen-input-validator-all
                     cozen-input-required="{{ vm.CONFIG.internal.log.surname.required }}"
                     cozen-input-class="space-medium-after">
        </cozen-input>
        <cozen-input cozen-input-model="vm.userCopy.givenName"
                     cozen-input-name="{{ vm.CONFIG.internal.log.givenName.name }}"
                     cozen-input-max-length="{{ vm.CONFIG.internal.log.givenName.length }}"
                     cozen-input-pattern="{{ vm.CONFIG.internal.log.givenName.pattern }}"
                     cozen-input-label="log_register_given_name"
                     cozen-input-placeholder="log_register_given_name_pc"
                     cozen-input-validator-all
                     cozen-input-required="{{ vm.CONFIG.internal.log.givenName.required }}"
                     cozen-input-class="space-medium-after">
        </cozen-input>
        <cozen-input cozen-input-model="vm.userCopy.username"
                     cozen-input-name="{{ vm.CONFIG.internal.log.username.name }}"
                     cozen-input-max-length="{{ vm.CONFIG.internal.log.username.length }}"
                     cozen-input-pattern="{{ vm.CONFIG.internal.log.username.pattern }}"
                     cozen-input-label="log_register_username"
                     cozen-input-placeholder="log_register_username_pc"
                     cozen-input-validator-all
                     cozen-input-required="{{ vm.CONFIG.internal.log.username.required }}"
                     cozen-input-class="space-medium-after">
        </cozen-input>
        <cozen-input cozen-input-model="vm.userCopy.email"
                     cozen-input-name="{{ vm.CONFIG.internal.log.email.name }}"
                     cozen-input-max-length="{{ vm.CONFIG.internal.log.email.length }}"
                     cozen-input-pattern="{{ vm.CONFIG.internal.log.email.pattern }}"
                     cozen-input-label="log_register_email"
                     cozen-input-placeholder="log_register_email_pc"
                     cozen-input-validator-all
                     cozen-input-required="{{ vm.CONFIG.internal.log.email.required }}"
                     cozen-input-class="space-medium-after">
        </cozen-input>
        <cozen-btn cozen-btn-upload-model="vm.userCopy.picture"
                   cozen-btn-is-upload="true"
                   cozen-btn-upper-label="account_profile_picture"
                   cozen-btn-label="account_profile_picture_upload">
        </cozen-btn>
        <p class="help-block space-small-before space-medium-after">
          {{ 'account_profile_date_last_update'
          | translate:"{date:'" + (vm.user.date.lastUpdate * 1000 | date: 'EEEE dd MMMM yyyy') + "'}" }}
        </p>

        <div class="center-flex-content space-medium-after">

          <!-- Edit btn -->
          <cozen-btn cozen-btn-label="account_settings_save"
                     cozen-btn-auto-sizing="true"
                     cozen-btn-type-success
                     cozen-btn-loader="vm.loading"
                     cozen-btn-disabled="vm.form.profile.$invalid"
                     cozen-btn-on-click="vm.methods.save('profile')"
                     cozen-btn-icon-right="fa icons8-clouds-filled">
          </cozen-btn>

          <!-- Edit password link -->
          <a href
             onclick="this.blur()"
             ng-click="goTo.view('app.account.profileEditPassword')">
            {{ 'account_profile_change_password' | translate }}
          </a>
        </div>
      </cozen-form>
    </div>
  </div>
</div>
