// Col with channels
@atom-chat-channels-container-width : 300px;
@atom-chat-channels-container-padding : @atom-space-base;
div.atom-chat div.chat-channels-container {
    height           : inherit;
    border-right     : 1px solid @atom-color-line-rule;
    z-index          : 1;
    width            : @atom-chat-channels-container-width;
    min-width        : @atom-chat-channels-container-width;
    background-color : @atom-color-line-rule-light;
    display          : flex;
    flex-direction   : column;
    justify-content  : flex-start;
    transition       : background-color @atom-animation-duration-out-fast, left ease @atom-animation-duration-in;
    position         : absolute;
    top              : 0;
    left             : @atom-chat-groups-container-width;
    &.hidePanelToLeft {
        left : @atom-chat-groups-container-width - @atom-chat-channels-container-width;
    }
    div.chat-active-group {
        display          : flex;
        flex-direction   : column;
        padding          : @atom-chat-channels-container-padding;
        background-color : @atom-color-line-rule-light;
        border-bottom    : 1px solid @atom-color-line-rule;
        height           : 76px;
        max-height       : 76px;
        min-height       : 76px;
        transition       : background-color @atom-animation-duration-out-fast;
        position         : relative;
        a.group-name {
            font-size   : 22px;
            font-weight : 500;
            display     : inline-table;
        }
        div.user-profile {
            a.username {
                padding-left : 3px;
            }
        }
        div.close-btn {
            position   : absolute;
            top        : 3px;
            right      : 3px;
            cursor     : pointer;
            transition : @atom-transition;
            outline    : @atom-outline;
            &:hover,
            &:focus {
                color : @atom-color-blue;
            }
        }
    }
    div.chat-list {
        padding          : @atom-chat-channels-container-padding 0;
        background-color : @atom-color-line-rule-light;
        transition       : background-color @atom-animation-duration-out-fast;
        div.chat-subtitle {
            font-size       : 19px;
            font-weight     : 500;
            margin-top      : @atom-space-base;
            margin-bottom   : @atom-space-small;
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            align-items     : center;
            padding         : 0 @atom-chat-channels-container-padding;
            h3 {
                font-size   : inherit;
                font-weight : inherit;
                margin      : 0;
                small {
                    font-size : 80%;
                    color     : @atom-color-font;
                }
            }
            &:first-of-type {
                margin-top : 0;
            }
            div.add-icon {
                cursor       : pointer;
                outline      : @atom-outline;
                font-size    : @atom-font-h3;
                line-height  : 0;
                margin-right : 3px;
            }
        }
        span.no-result {
            padding : 0 @atom-chat-channels-container-padding;
        }
        div.chat-channel {
            transition      : @atom-transition;
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            font-size       : @atom-font-h3;
            padding         : 1px @atom-chat-channels-container-padding;
            span {
                cursor        : pointer;
                outline       : @atom-outline;
                transition    : @atom-transition;
                width         : calc(@atom-chat-channels-container-width - @atom-chat-channels-container-padding * 2);
                text-overflow : ellipsis;
                white-space   : nowrap;
                overflow      : hidden;
                margin-left   : @atom-space-small;
                font-size     : inherit;
                &:hover,
                &:focus {
                    color : @atom-color-blue;
                }
            }
            &.active {
                span {
                    color : @atom-color-blue;
                    &:hover,
                    &:focus {
                        color : @atom-color-blue-active;
                    }
                }
            }
            i.channel-icon {
                font-size : 13px;
                cursor    : help;
            }
            &.ng-enter-active {
                .animation-fadeInLeft(-@atom-space-medium);
                animation-fill-mode : @atom-animation-fill;
                animation-duration  : @atom-animation-duration-in;
            }
            &.ng-leave-active {
                .animation-fadeOutLeft(-@atom-space-medium);
                animation-fill-mode : @atom-animation-fill;
                animation-duration  : @atom-animation-duration-in;
            }
            &:hover {
                background-color : @atom-color-line-rule;
            }
        }
        div.chat-friend {
            transition      : @atom-transition;
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            font-size       : @atom-font-h3;
            padding         : 1px @atom-chat-channels-container-padding;
            span.name {
                cursor        : pointer;
                outline       : @atom-outline;
                transition    : @atom-transition;
                text-overflow : ellipsis;
                white-space   : nowrap;
                overflow      : hidden;
                font-size     : inherit;
                &:hover,
                &:focus {
                    color : @atom-color-blue;
                }
            }
            &.active {
                span.name {
                    color : @atom-color-blue;
                    &:hover,
                    &:focus {
                        color : @atom-color-blue-active;
                    }
                }
            }
            &.ng-enter-active {
                .animation-fadeInLeft(-@atom-space-medium);
                animation-fill-mode : @atom-animation-fill;
                animation-duration  : @atom-animation-duration-in;
            }
            &.ng-leave-active {
                .animation-fadeOutLeft(-@atom-space-medium);
                animation-fill-mode : @atom-animation-fill;
                animation-duration  : @atom-animation-duration-in;
            }
            &:hover {
                background-color : @atom-color-line-rule;
            }
        }
    }
    div.chat-search-bar {
        padding          : @atom-chat-channels-container-padding;
        background-color : @atom-color-line-rule-light;
        border-top       : 1px solid @atom-color-line-rule;
        margin-top       : auto;
        transition       : background-color @atom-animation-duration-out-fast;
    }
}