<div class="anim-slide-left full-center-content"
     ng-init="vm.methods.checkData(2)">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div>

                <!-- Title -->
                <h1 class="no-margin-top">{{ 'groups_new_2_title' | translate:{groupName: vm.newGroup.name} }}</h1>
                <p class="help-text">{{ 'groups_new_2_subtitle_1' | translate }}</p>

                <!-- Form -->
                <div class="no-padding col-xs-12 col-sm-9 col-md-12 col-lg-9">
                    <cozen-form cozen-form-name="newGroup2"
                                cozen-form-ctrl="vm"
                                cozen-form-model="form"
                                cozen-form-class="space-large-before">
                        <cozen-input cozen-input-model="vm.newGroup.name"
                                     cozen-input-name="{{ vm.CONFIG.internal.group.name.name }}"
                                     cozen-input-max-length="{{ vm.CONFIG.internal.group.name.length }}"
                                     cozen-input-pattern="{{ vm.CONFIG.internal.group.name.pattern }}"
                                     cozen-input-label="groups_register_name"
                                     cozen-input-placeholder="groups_register_name_pc"
                                     cozen-input-auto-complete="off"
                                     cozen-input-icon-right="fa"
                                     cozen-input-required="{{ vm.CONFIG.internal.group.name.required }}">
                        </cozen-input>

                        <cozen-btn cozen-btn-label="'groups_new_valid_name'"
                                   cozen-btn-auto-sizing="true"
                                   cozen-btn-disabled="vm.form.newGroup.$invalid"
                                   cozen-btn-loader="vm.loading"
                                   cozen-btn-on-click="vm.methods.checkGroupName()"
                                   cozen-btn-icon-right="fa fa-fw fa-arrow-right"
                                   cozen-btn-class="space-medium-before space-medium after">
                        </cozen-btn>
                    </cozen-form>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-7 background-blue-flat">
            <img ng-src="images/bg/groups-users.jpg">
        </div>
    </div>
</div>
