<div id="new-group-step-1-container"
     class="container anim-slide-left full-center-content"
     ng-show="vm.isReady"
     cozen-when-ready="vm.methods.onReady()"
     cozen-wait-for-interpolation="true">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div>

                <!-- Title -->
                <h1 class="no-margin-top">{{ 'groups_new_title' | translate }}</h1>
                <p class="help-text">{{ 'groups_new_subtitle_1' | translate }}</p>
                <p class="help-text">{{ 'groups_new_subtitle_2' | translate }}</p>
                <p class="help-text">{{ 'groups_new_subtitle_3' | translate }}</p>

                <!-- Form -->
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <cozen-form cozen-form-name="newGroup"
                                    cozen-form-ctrl="vm"
                                    cozen-form-model="form"
                                    cozen-form-class="space-large-before">
                            <cozen-input cozen-input-model="vm.newGroup.name"
                                         cozen-input-name="{{ vm.CONFIG.internal.group.name.name }}"
                                         cozen-input-max-length="{{ vm.CONFIG.internal.group.name.length }}"
                                         cozen-input-pattern="{{ vm.CONFIG.internal.group.name.pattern }}"
                                         cozen-input-label="groups_register_name"
                                         cozen-input-placeholder="groups_register_name_pc"
                                         cozen-input-required="{{ vm.CONFIG.internal.group.name.required }}">
                            </cozen-input>

                            <cozen-btn cozen-btn-label="'groups_new_valid_name'"
                                       cozen-btn-auto-sizing="true"
                                       cozen-btn-disabled="vm.form.newGroup.$invalid"
                                       cozen-btn-loader="vm.loading"
                                       cozen-btn-on-click="vm.methods.checkGroupName()"
                                       cozen-btn-icon-right="fa fa-fw fa-arrow-right"
                                       cozen-btn-class="space-medium-before space-medium after">
                            </cozen-btn>
                        </cozen-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-7 background-purple">
            <img ng-src="images/bg/groups-users.jpg">
        </div>
    </div>
</div>
